
@{
    ViewBag.Title = "PayrollCalculation";
}

<center><h2>Payroll Calculation</h2></center>

<input type="button" value="View Payroll" onclick="viewPayroll();" class="btn btn-primary" style="width:200px;" />


<div style="height:700px;width:84%;overflow:auto;">


            <table class="table table-bordered table-condensed table-responsive table-striped" style="width:100%;height:100%;">
                <thead>
                    <tr>
                        <th style="text-align: center; background-color: lightblue;">Fixed Section Per Month</th>
                        <th style="text-align: center; background-color: lightgreen;">Total Salary</th>
                        <th style="text-align: center; background-color: lightyellow;">Deductions</th>
                        <th style="text-align: center; background-color: lightblue;">Gross Payable Salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width:100px;">Emp ID</th>
                                        <th>Emp Name</th>
                                        <th>Date of Joining</th>
                                        <th>Designation</th>
                                        <th>Department</th>
                                        <th>Basic Salary</th>
                                        <th>Allowance 1</th>
                                        <th>Allowance 2</th>
                                        <th>Total Salary</th>
                                        <th>Salary Month</th>
                                        <th>Total Payable Days</th>
                                    </tr>
                                </thead>
                                <tbody id="FixedSectionPerMonth">

                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Monthly Salary</th>
                                        <th>Normal OT Hours</th>
                                        <th>Normal OT1 Salary</th>
                                        <th>Weekend OT</th>
                                        <th>Weekend OT Salary</th>
                                        <th>Public Holiday OT Hours</th>
                                        <th>Public Holiday OT Salary</th>
                                        <th>OT4</th>
                                        <th>OT5</th>
                                        <th>Arrears</th>
                                        <th>Bonus</th>
                                        <th>Total Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </td>
                        <td>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Deductions</th>
                                        <th>Advance</th>
                                        <th>Loan</th>
                                        <th>Income Tax</th>
                                        <th>EOBI</th>
                                        <th>Provident Fund</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </td>
                        <td>

                           <h1>Demo</h1>

                        </td>
                    </tr>
                </tbody>
            </table>


</div>












    <script>

        function viewPayroll() {
            debugger;

            var str = '';

            $.ajax({

                type: "GET",
                url: "/PayRoll/GetPayrollCalculationTableData",
                success: function (data) {
                    debugger;

                    $.each(data, function (index, obj) {

                        str += '<tr>'+
                                    '<td>' +
                                       obj.EmployeeId +
                                    '</td>' +
                                    '<td>' +
                                       obj.EmployeeName +
                                    '</td>' +
                                     '<td>' +
                                        obj.DateofJoining +
                                    '</td>' +
                                     '<td>' +
                                        obj.Designation +
                                    '</td>' +
                                     '<td>' +
                                        obj.Department +
                                    '</td>' +
                                     '<td>' +
                                        obj.BasicSalary +
                        '</td>' +
                            '<td>' +
                            obj.BasicSalary +
                        '</td>' +
                            '<td>' +
                            obj.BasicSalary +
                        '</td>' +
                            '<td>' +
                            obj.BasicSalary +
                        '</td>' +
                            '<td>' +
                            obj.BasicSalary +
                        '</td>' +
                            '<td>' +
                            obj.BasicSalary +
                        '</td>' +
                               '</tr>';


                    });

                    $("#FixedSectionPerMonth").html(str);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }

    </script>
